[submodule "boringssl"]
	path = boringssl
	url = https://github.com/zapfbandit/boringssl.git

[submodule "pyca.cryptography"]
	path = pyca-cryptography
	url = https://github.com/zapfbandit/pyca-cryptography.git

[submodule "krb5"]
	path = krb5
	url = https://github.com/zapfbandit/krb5.git
